* {
    margin: 0;

}

:root {
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body {
    background-image: url(../img/bg.jpg);
    /*  Cobre toda a área visível */
    background-size: cover;

}

#page {
    width: 800px;
    /* tirar comportamento padrão da caixa (ela adiciona largura) */
    box-sizing: border-box;
    padding: 24px;
    border-radius: 24px;
    background-color: #F0E8C2;
    /* 48px (cima e baixo) e auto - centralizar (esquerda e direita) */
    margin: 48px auto 28px;
}

img {
    border-radius: 16px;
}

main {
    padding: 24px;
}

section+section {
    margin-top: 24px;
}

/* Ataca o p anterior a esse p */
#about p+p {
    margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    color: #291B1A;
    margin-bottom: 4px;
    /* A gente tinha adicionado no root, porém no navegador ficou mais forte o h1 e h2 */
    line-height: 150%;
}

ul {
    padding-left: 24px;
}

footer {
    color: #F0E8C2;
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    /* alinhamento vertical */
    vertical-align: middle;
}